[submodule "Libraries/iron"]
	path = Libraries/iron
	url = https://github.com/armory3d/iron
[submodule "Libraries/zui"]
	path = Libraries/zui
	url = https://github.com/armory3d/zui
[submodule "Kromx"]
	path = Kromx
	url = https://github.com/armory3d/Kromx
