name: Windows (Direct3D12)

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Get Submodules
      run: git submodule update --init --recursive
    - name: Compile
      run: |
        cd armorpaint
        ../armorcore/make --graphics direct3d12
